# int formatted_code;
# // clang-format off
#     void    unformatted_code  ;
# // clang-format on
# void formatted_code_again;

---
BasedOnStyle: LLVM
ColumnLimit: '120'
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
TabWidth: '2'
UseTab: Always
SortIncludes: 'false'
SortUsingDeclarations: 'false'

...
