//TODO device screen constans
$screenWidthXL: 4px;
$screenWidthL: 3px;
$screenWidthM: 2px;
$screenWidthS: 1px;

$fontSizeH: 36px;
$fontSizeP: 20px;
$fontSizeS: 16px;

$fgColor: #000000;
$bgColor: #ffffff;
$hlColor: #110000;
