@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700;900&display=swap');

//TODO device screen constans
$screenWidthXL: 4px;
$screenWidthL: 3px;
$screenWidthM: 2px;
$screenWidthS: 1px;

$fontSizeH: 36px;
$fontSizeP: 20px;
$fontSizeS: 16px;
$fontFamily: Montserrat;

$fgColor: #ffffff;
$bgColor: #000000;
$hlColor: #110000;
