$btn-color: #eceff1; 
$btn-size : 100px;
$duration : 300ms;
$easing   : cubic-bezier(0, 0, .2, 1);
$half-size: calc($btn-size / 2);

.loading-screen {
	z-index: 1;
	
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
  background-color: #000000;
	opacity: 1;
 	transition: 3s opacity;

  &.loaded {
    opacity: 0;
  }
}

/**
 * The actual play button
 */
.play-button {
  z-index     : 2;
	
  /** Positioning */
  position    : absolute;
  left        : 50%;
  top         : 50%;
  margin-left : -$half-size;
  margin-top  : -$half-size;
  
  /** Sizing */
  width       : $btn-size;
  height      : $btn-size;
  
  /** Border styling */
  border-style: solid;
  border-color: transparent $btn-color transparent $btn-color;
  border-width: $half-size 0 $half-size $btn-size;

  background-color: rgba(0,0,0,0);

  
  &.stop,
  &.to-play {
  	
    /** Animate morphing */
    transition  : transform           $duration $easing,
                  border-top-width    $duration $easing,
                  border-bottom-width $duration $easing;
  }
  
  &.stop {
  	
    /** Morph to a stop button */
    transform   : rotate(90deg);
    border-width: 0 0 0 $btn-size;
  }
  
  &.to-play {
    
    /** Morph back from a stop button to a play button */
    transform   : rotate(180deg);
    border-width: $half-size $btn-size $half-size 0;
  }

  &.loading {
    animation: spin .5s linear infinite;
    border-width: 0 0 0 $btn-size;
  }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
