@import "nav";
@import "section";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

main {
	font: {
		size: $fontSizeP;
		color: $fgColor;
	}
	background: {
		color: $bgColor;
	}
}

canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

@include setHeaderFontSizes($fontSizeH, $fontSizeP);
