@import "nav";
@import "section";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

main {
	font: {
		size: $fontSizeP;
		color: $fgColor;
	}
	background: {
		color: $bgColor;
	}
	canvas: {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
	}
}

@include setHeaderFontSizes($fontSizeH, $fontSizeP);
